* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

.commentContainer {
    border: 1px solid black;
    padding: 10px;
}

.allComments {
    padding: 10px;
    border: 1px solid black;
}

.dashboard-container {
    background-color: #eee;
}