* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 140px;
    height: auto;
}

.profilePicContainer{
    border: 1px solid black;
    padding: 40px;
}

.profile-container {
    background-color: #eee;
}