* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

#coverImage {
    width: 100%;
}

.mangaPic{
    border: 1px solid black;
    padding: 40px;
}

.mangaPic-container {
    background-color: #eee;
}